<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <title>FastCheck</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/styleDashboard.css">
        <link href='https://fonts.googleapis.com/css?family=Shrikhand' rel='stylesheet'>
    </head>
    <body>
        <%- include("navbar.ejs") -%>
        
        <span>
            <a class="imgLink" href="">
                <img class="btnImg" src="images/My E-challans.jpg">
            </a>
        </span>
        <span>
            <a class="imgLink" href="">
                <img class="btnImg" src="images/E-Challan Payment.jpg">
            </a>
        </span>
        <span>
            <a class="imgLink" href="">
                <img class="btnImg" src="images/My Vehicles.jpg">
            </a>
        </span>
        <span>
            <a class="imgLink" href="">
                <img class="btnImg" src="images/Upload.jpg">
            </a>
        </span>
        <span>
            <a class="imgLink" href="">
                <img class="btnImg" src="images/QR Code.jpg">
            </a>
        </span>
        <span>
            <a class="imgLink" href="">
                <img class="btnImg" src="images/Contact Us.jpg">
            </a>
        </span>
    </body>
</html>